.containers { 
    display: grid;
    font-size: 15px;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 5px; 
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
    text-align: center;
    text-size-adjust: 3%;
    align-items: center;
    justify-content: center;
    
    
}
.title{
  font:bold;
  font-size: x-large;
  text-decoration: solid;
  text-transform: uppercase;
}


 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    word-spacing: 5px; 
    background-color: #f9cdad75;
  }
  
  li {
    display: flex;
    float: left;
    word-spacing: 5px; 
  }
  
  li  {
    word-spacing: 5px; 
    display: flex;
    color: rgb(19, 18, 18);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
