.containers { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px; 
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }


 
  .text{
    text-align: center; 
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    padding-top: 5%;
    padding-bottom: 5%;
    


  }