
.containers { 
    display: grid;
    font-size: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px; 
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }


 
  .text{
    text-align: center; 
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    padding-top: 5%;
    padding-bottom: 5%;


  }

  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: rgb(141, 83, 83);
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  
  